<%- include('partials-non-auth/header') %>
<div class="container my-5 p-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="card p-4">
        <div class="card-body p-4">
          <h1 class="card-title">FoxBook</h1>
          <form action="/register" method="POST">
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn btn-outline-success" href="/login">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials-non-auth/footer') %>