<%- include('../partials/header', { username }) %>
<div class="container">
  <h1>Profile of <b><%= username %></b></h1>
</div>

<!-- Form -->
<div class="container">

</div>

<!-- Stories -->
<div class="container">

</div>

<!-- Comments -->
<div class="container">
  
</div>
<%- include('../partials/footer') %>